<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="pt-br" th:fragment="layout (title,content)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/flatly/bootstrap.min.css" rel="stylesheet">
     <title th:replace="${title}">Titulo</title>
</head>
<body>

<!-- top bar-->
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Sistema de Projetos</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
            </ul>
        </div>
    </div>
</nav>
<!-- end top bar -->

<div class="container-fluid">
    <div class="row">
        <!-- conteúdo -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div th:replace="${content}">
                <!-- Conteúdo da página será inserido aqui -->
            </div>
        </main>
    </div>
</div>

<footer class="text-center py-3">
    &copy; 2024 Sistema de Projetos
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>